rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /bookings/{bookingId} {
      allow create: if request.resource.data.customer.name is string
        && request.resource.data.customer.email is string
        && request.resource.data.customer.phone is string
        && request.resource.data.fare.total is number;

      allow read, update, delete: if request.auth != null;
    }
  }
}
